#root {
  max-width: 1280px;
  margin: 30px auto;
  padding: 2rem;
  text-align: center;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.table_container {
  margin: 0 auto 20px;
  overflow: auto;
  max-width: 600px;
}

.dashboard_input_container {
  position: relative;
  margin-bottom: 20px;
}

.canvasSelection {
  position: relative;
  max-width: 500px;
  aspect-ratio: 1;
  border: 1px solid black;
  border-radius: 2px;
  overflow-x: auto;
  margin: 0 auto;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Базовый canvas будет под другим */
  width: 500px;
  height: 500px;
}

#dotsCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 500px;
  height: 500px;
}

@media (max-width: 660px) {
  #root {
    border: none;
    margin: 0 auto;
  }

  p {
    font-size: 1.2rem;
  }
  
  .table_container {
    width: 400px;
  }

  .dashboard_input_container .button {
    position: static;
    margin: 0 auto;
    display: block;
  }

  .dashboard_input_container .button:last-child {
    margin-top: 20px;
  }
}

@media (max-width: 580px) {
  #root {
    border: none;
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  
  .table_container {
    width: 300px;
  }
}